<!DOCTYPE html>

<html lang="hu">
    <header>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Letöltés</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/css/Letoltes.css" />
            <body>

                <div>
                    <nav>
                        <a href="Fooldal">Főoldal</a>
                        <a href="Eredmeny">Eredménytábla</a>
                        <a href="Rolunk">Rólunk</a>
                        
                        <form action="/logout" method="post">

                            <input type="submit" value="Kijelentkezés"></input>

                        </form>

                    </nav>
                </div>
        </head>
    </header>
    <h1>Letöltés</h1>
    
    <div>
        <nav>
            <h1>Tetris</h1>
            <p id="kerekitett"><img src="/images/Tetrisgame.png" alt="A Játék" id="Tetris"></p>
            <h1 id="Toltsd">Töltsd le a játékot itt!</h1>
            <a href="https://www.mediafire.com/file/hixol4yc99zt8t7/Tetris.rar/file"><img src="/images/letoltes.jpg" alt="Download" id="Download"></a>
        </nav>
    </div>
        
        <script src="" async defer></script>
    </body>
</html>