<!DOCTYPE html>

<html>
    <header>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Rólunk</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/css/Rolunk.css">
        </head>
        <body>
            <div>
                <nav>
                    <a href="Fooldal">Főoldal</a>
                    <a href="Eredmeny">Eredmeny</a>
                    <a href="Letoltes">Letöltés</a>
                    <form action="/logout" method="post">
                        <input type="submit" value="Kijelentkezés"></input>
                    </form>
                </nav>
                    
            </div>
        </header>

        <h1>Rólunk</h1>

        <p>
            Ismerd meg a Volt fejlesztői csapatát. Mi egy három fős csapat vagyunk, mind  A Szegedi School of Business Szoftverfejlesztő- és tesztelő szak végzős diákjai vagyunk.
            Ez a weboldal az év végi projektmunkánk. A csapat agya és legfőbb programozója Czető Ákos,
            kinek gyakorlati ismeretei és jelentős középiskolában szerzett plusztudása nagy lendületet ad mindannyiunknak.
            Őt szorosan követi Papp Kitti.  A két fős álomcsapat mind az iskolában mind az iskolán kívül elválaszthatatlan páros.
            Kitti felel a frontend és backendért is Ákossal együtt, nagy szerepe van a játékok megkódolásában.
            Kettejük csapata már a középiskolától harcol az árral és az infós feladatokkal. A harmadik tag Tóth Bendegúz (aki ezt írja most).
            Főleg a projekt haladásának bemutatásáért a dokumentációért és a szövegek megírásáért felel.
            Az ötletelés és a végső dizájn kialakitása mellett még az előadói munka az ő kenyere.
            Kérlek, élvezd ezt a weboldalt és merülj el az online minijátékok kódolásában és/vagy játszásában. Jó szórakozást kívánunk nektek.
            
        </p>
        
        <p>-A Volt csapata.</p>

    </body>
</html>